@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Core styles */
@import "primereact/resources/themes/saga-blue/theme.css"; /* Change theme if desired */
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

:root {
  --main-color: #eb5e28;
}

.arabic-font {
  font-family: "Cairo", sans-serif;
}
.arabic-font * {
  font-family: "Cairo", sans-serif;
}

.p-multiselect-filte{
  padding: 10px !important;
  height: 20px !important;
}
.p-multiselect-filter:focus{
  border: 2px solid #ced4da !important;
  outline: none;
  box-shadow: none;
  padding:  5px 10px !important;
}




/* 
.p-multiselect-items .p-multiselect-item .p-multiselect-checkbox .p-checkbox input:checked{
  background-color: red !important;
  border: 2px solid black;
  outline: #eb5e28;
}
 */



